#stl {
	background-color: blue;
	color: white;
	padding: 15px;
	margin-bottom: 60px;
	font-weight: bold;
}

#stl2 {
	color:white;
	padding:20px;
}


.stl3 {
	background-color: red;
	color: white;
}

.stl4 {
	background-color:gray;
	color:white;
	padding:10px;
	margin-top:100px;
}

.wn:hover {
	color: purple;
	text-decoration: none;
}